@model UserViewModel
@{
    ViewData["Title"] = "Registrar";
}

<form method="POST">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>CREAR CUENTA</h1>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row row-buffer">
            <div class="row justify-content-center">
                <input asp-for="FirstName" class="form-control form-input" placeholder="NOMBRES" required/>
            </div>
            <div class="row justify-content-center">
                <span asp-validation-for="FirstName" class="text-danger form-validation-error"></span>
            </div>
        </div>
        <div class="row row-buffer">
            <div class="row justify-content-center">
                <input asp-for="LastName" class="form-control form-input" placeholder="APELLIDOS" required>
            </div>
            <div class="row justify-content-center">
                <span asp-validation-for="LastName" class="text-danger form-validation-error"></span>
            </div>
        </div>
        <div class="row row-buffer">
            <div class="row justify-content-center">
                <input asp-for="Email" class="form-control form-input" placeholder="CORREO" required/>
            </div>
            <div class="row justify-content-center">
                <span asp-validation-for="Email" class="text-danger form-validation-error"></span>
            </div>
        </div>
       <div class="row row-buffer">
            <div class="row justify-content-center">
                <input asp-for="Phone" class="form-control form-input" placeholder="CELULAR" required/>
            </div>
            <div class="row justify-content-center">
                <span asp-validation-for="Phone" class="text-danger form-validation-error"></span>
            </div>
        </div>
        <div class="row row-buffer">
            <div class="row justify-content-center">
                <input asp-for="Password" class="form-control form-input" placeholder="CONTRASEÑA" required/>
            </div>
            <div class="row justify-content-center">
                <span asp-validation-for="Password" class="text-danger form-validation-error"></span>
            </div>
        </div>
        <div class="row row-buffer">
            <div class="row justify-content-center">
                <input asp-for="ConfirmPassword" class="form-control form-input" placeholder="CONFIRMA CONTRASEÑA" required/>
            </div>
            <div class="row justify-content-center">
                <span asp-validation-for="ConfirmPassword" class="text-danger form-validation-error"></span>
            </div>
        </div>
        <div class="row row-buffer justify-content-center">
            <button class="btn btn-primary" type="submit">REGISTRAR</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
